<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=”robots” content=”noindex, nofollow”>
  <title>Review Generator</title>
  <link rel="stylesheet" href="./styles.css?ver=2.0.0">
</head>
<body>
  <header>
    <div class="container">
      <h1>
        Review Generator
      </h1>
    </div>
  </header>
  <main>
    <div class="container">
        <form class="builder">
          <div class="row">
            <label for="show" class="form-label">TV Shows</label>
            <select class="form-select" id="show" name="show" v-model="show">
              <option selected="" value="0">Select TV Show</option>
              %OPTIONS%
            </select>
          </div>

          <div class="row">
            <label for="Season" class="form-label">Season</label>
            <input type="number" class="form-control" id="Season" v-model="season">
          </div>

          <div class="row">
            <label for="Episode" class="form-label">Episode</label>
            <input type="number" class="form-control" id="Episode" v-model="episode">
          </div>

          <div class="row">
            <label for="rating" class="form-label">Rating</label>
            <select class="form-select" id="rating" name="rating" v-model="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option selected="" value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="row">
            <label for="Comment" class="form-label">Comment</label>
            <textarea class="form-control" id="Comment" rows="3" name="comment" v-model="comment"></textarea>
          </div>
          <div class="row">
            <label for="markdown" class="form-label">Markdown</label>
            <textarea readonly="" class="form-control" id="markdown" rows="3" name="markdown">---
  type: series
  title: "{{ show }} {{ season }}x{{ episode }}"
  date: "{{date}}"
  name: "{{ show }}"
  season: {{ season }}
  episode: {{ episode }}
  rating: {{ rating }}
  ratingEmoji: "{{ '⭐️'.repeat(rating) }}"
  share: {{ share ? 'true' : 'false' }}
  ---

  {{ comment ? comment : '*[No review was written for this episode]*'}}</textarea>
          </div>
          <div class="row">
            <label for="share" class="form-label">Share</label>
            <select class="form-select" id="share" name="share" v-model="share">
              <option selected="" value="0">False</option>
              <option value="1">True</option>
            </select>
          </div>

          <button class="btn">Copy</button>

          <a ref="github-link" :href="`https://github.com/quicoto/reviews/new/master/content/blog/tv-shows/?filename=tv-shows/${prettyShow}/${season}x${episode}/index.md`"
              target="_blank">Create
              file on Github</a>

        </form>
    </div>
  </main>
  <footer>
    <div class="container">
      With ❤️ from <a href="https://ricard.blog/" title="Ricard Torres Blog">Ricard Torres</a>
    </div>
  </footer>
  <script src="./main.min.js?ver=2.0.0" defer></script>
</body>
</html>